*{
  text-transform: uppercase;
  text-align: center;
}
img{
  width:15vh;
  border-radius: 61%;
}
.card{
   background:yellow;
   width:25%;
   margin :auto;
   padding:2px 0px 2px 0px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px blue;
}
.cards{
  display:flex;
}
/* media */
@media (min-device-width:350px) and (max-device-width:480px){
  .cards{
width:98%;
flex-wrap: wrap.margin:1%;
  }
  .cards{
    width:98%;
    margin-top:2%;
  }
}
